html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Ubuntu-L';
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: 'Ubuntu-L';
    font-size: 2.3rem;
    color: #2C3C69;
}

h3 {
    font-family: "Ubuntu-L";
    font-size: 1.4rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf')format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R.ttf')format('truetype');
}

@font-face {
    font-family: 'Ubuntu-l';
    src: url('../fonts/Ubuntu-L.ttf')format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'DELIRIUM';
    src: url('../fonts/FTY DELIRIUM NCV.ttf')format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-normal-58adc66fd07c1.ttf')format('truetype');
}

@font-face {
    font-family: 'Sans Serif';
    src: url('../fonts/Aaargh.ttf')format('truetype');
}

/* Large devices (desktops, 992px and up) */

.header-content {
    background-image: url(../img/pen.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    background-attachment: fixed;
}

/* ----- NAVIGATION ----- */

.navbar.fixed-top.scrolled {
    background-color: #B2B09B !important;
    transition: background-color 200ms linear;
}

.navbar-brand>.logo-scrolled {
    width: 130px;
}

/**Start of Header**/

/* Remove margins and padding from the list and add a white background*/

ul.topnav {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    float: right;
}

/* Float the list items side by side */

ul.topnav li {
    float: left;
}

/* Style the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 4px;
    text-decoration: none;
    padding: 4px 10px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    font-family: "Ubuntu";
}

ul.topnav li>.nav-link-scrolled {
    font-size: 14px;
    padding: 0 8px;
}

.special_link {
    background-color: #1098a0;
    border-radius: 1rem;
    font-size: 13px;
    font-weight: bold;
}

/* Change background color of links on hover */

ul.topnav li a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #654C4F;
    padding: 6px;
    border-radius: .3rem;
}

ul.topnav li.dropdown_holder ul.dropdown li:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1098a0;
    border-radius: 0px;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {
    display: none;
}

/* Editing the dropdown menu of the SERVICES menu*/

.navigation ul ul {
    display: none;
}

.navigation ul li:hover>ul {
    display: block;
}

ul.topnav li.dropdown_holder ul.dropdown {
    position: absolute;
}

.dropdown {
    padding: 0;
    margin: 0;
}

ul.topnav li.dropdown_holder ul.dropdown li {
    float: none;
    display: block;
    background-color: #054552;
}

ul.topnav li.dropdown_holder ul.dropdown li a {
    color: #fff;
    font-weight: normal;
}

/* ----- End of Navigation ----- */

section.header-top {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 200px;
}

.relax_heading {
    margin-top: 7rem;
    font-weight: bold;
    margin-bottom: 8rem;
}

/* Icons section */

.icons {
    text-align: center;
    padding-right: 109px;
}

.iconic {
    max-width: 320px;
    display: inline-block;
    margin: 4rem;
}

.iconic>i {
    font-size: 4.4rem;
    color: white;
    margin-bottom: 1rem;
}

.iconic>.fa-diamond {
    font-size: 4.0rem;
}

.icon-circle-background {
    border: 1px solid #1895d8;
    background-color: #1895d8;
    border-radius: 50%;
    padding: 23px;
    width: 118px;
    height: 118px;
}

/* end of icons section  */

.calculator {
    border: #FF6F59 2px solid;
    border-radius: 3rem;
    vertical-align: middle;
    padding: 1rem 2rem;
    text-align: left;
    float: left;
    background-color: white;
}

.display_cost {
    text-align: center;
    display: inline;
    padding: 1rem;
    font-family: 'Ubuntu';
    color: #fff;
}

/* buttons  */

.red-btn,
.green-btn,
.relax_heading {
    color: white;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.red-btn {
    background-color: #EF3054;
    border-color: #EF3054;
}

.grey-btn {
    background-color: #B2B09B;
}

.card-btn,
.green_btn {
    background-color: #43AA8B;
    color: white;
    border-color: #B2B09B;
    margin-top: 15px;
}

.card-btn {
    font-size: 14px;
}

.floating-right-btn {
    float: right;
}

/* end of buttons */

.subholder {
    display: inline-block;
    vertical-align: top;
    margin: 2rem;
    text-align: left;
}

.subheading {
    color: #fff;
    font-family: 'Ubuntu-L';
    font-size: 2.0rem;
}

#lblRes {
    display: inline;
    font-size: 2rem;
    color: #fffd5e;
    font-family: 'Ubuntu';
    margin-right: 2rem;
}

.dollar_sign {
    display: inline;
    font-size: 2rem;
    color: #fffd5e;
    font-family: 'Ubuntu';
    margin-left: .5rem;
}

.calc_order {
    padding: .5rem 3rem;
    background-color: #f05c42;
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'Ubuntu';
    color: black;
    float: right;
    margin-left: 6rem;
    margin-right: .5rem;
}

.calc_h3 {
    padding: 0;
    color: black;
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 1.2rem;
}

label {
    height: 2rem;
    margin: .5rem;
    display: inline-block;
}

select {
    height: 2rem;
    border-radius: .3rem;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
    display: inline-block;
    float: right;
    width: 170px;
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
}

option {
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
}

fieldset {
    border: 1px solid transparent;
    margin: 0;
    font-family: 'Ubuntu';
    color: black;
}

.logo>a>img {
    width: 192px;
}

hr {
    border: none;
    border-top: 1px dotted #fff;
    color: #fff;
    background-color: #fff;
    height: 1px;
}

/*Other Stuff*/

h4 {
    color: #0072c6;
    font-family: 'Ubuntu';
    font-size: 1.15rem;
}

.icons_2 {
    text-align: center;
    background-color: rgba(239, 241, 242, 1);
    padding-top: 2rem;
}

p {
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
}

.mockup {
    display: inline-block;
    vertical-align: top;
    margin-top: 4em;
    text-align: center;
}

.left-get-started-section {
    background-image: url(../img/laptop.jpg);
    background-size: cover;
    background-position: center;
}

.step_holder {
    display: block;
    margin: 4.8em 4em;
    text-align: left;
}

.step_holder>.fa {
    color: #254441;
}

.step_holder_2 {
    display: block;
    margin: 4em;
    text-align: center;
}

.order {
    padding: .7em 3em;
    border-radius: 2em;
    background-color: #f05c42;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
}

.aligned {
    display: inline-block;
    margin: .2em .5em;
    font-weight: bold;
    vertical-align: middle;
}

/**SLIDER TESTIMONIALS**/

.testimonial_section {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    /* background-image: url(img/coffee-laptop-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem; */
}

.testimon_wrapper {
    text-align: center;
    position: relative;
    margin-top: 1rem;
}

.completed {
    float: left;
    padding: 0;
    margin: 0;
    color: white;
    font-size: .8rem;
    font-weight: bold;
}

.testimon {
    padding: 20px 40px 20px 40px;
    max-width: 700px;
    background: -webkit-linear-gradient(45deg, #853c8a 0, #3cdcea 100%);
    display: inline-block;
    border-radius: 3rem;
    text-align: left;
    color: #fff;
    height: 240px;
    margin-left: 10%;
    margin-right: 10%;
}

.slider_testimon {
    display: none;
}

.slider_testimon p {
    font-size: .95rem;
    line-height: 1.5;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 0px 10px 0px 10px;
    color: #1895d8;
    font-weight: bold;
    font-size: 3.5rem;
    transition: 0.6s ease;
    border-radius: 1rem;
}

.prev {
    left: 10%;
}

.next {
    right: 10%;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    transition: 1s;
    font-size: 4.2rem;
    background: -webkit-linear-gradient(45deg, #853c8a 0, #14193a 100%);
    border-radius: 1rem;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/**Edit the eunderline**/

.underline {
    height: .01px;
    background-color: yellow;
    border-bottom: 1px solid yellow;
    border-top: 1px solid yellow;
    color: yellow;
}

/**Accordions section**/

.contents_container {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-image: url(img/coffee-laptop-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.cards-wrapper {
    margin-bottom: 8rem;
}

.contents_container_heading {
    color: white;
    margin-bottom: 3rem;
}

.cards-wrapper .card {
    height: 350px;
    margin-bottom: 4rem;
}

.list-group-item {
    background-color: inherit;
}

.card-header {
    background-color: rgba(239, 241, 242, 1) !important;
    height: 65px;
    font-weight: 600;
}

.card .to-show {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    opacity: 0;
    transition: .5s ease;
    margin-top: 4.6rem;
    padding: 1rem;
}

.card-text.to-hide {
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.card-header:hover {
    color: white;
    background-color: #1098a0 !important;
}

.card-body:hover {
    background-color: #B2B09B;
    color: white;
    /* background: -webkit-linear-gradient(45deg, #853c8a 0, #3cdcea 100%); */
    transition: background 400ms linear;
}

.card-body:hover .fa {
    color: white;
}

.card .card-body:hover .to-show {
    visibility: visible;
    opacity: 1;
}

.card .card-body:hover .to-hide {
    visibility: hidden;
}

button.content_accordion {
    background-color: #fff;
    cursor: pointer;
    width: 90%;
    text-align: left;
    border: none;
    outline: none;
    padding: 24px 10px 24px 24px;
    transition: .4s;
    border-radius: 2rem;
    font-family: "Ubuntu-L";
    font-size: 1.4em;
    margin: 10px;
    line-height: 20px;
}

button.content_accordion:after {
    font-family: 'FontAwesome';
    content: '\f055';
    font-size: 4rem;
    float: right;
    display: inline;
    margin: 0;
    color: #1895d8;
    vertical-align: middle;
}

button.content_accordion.active {
    background-color: #1895d8;
    color: #fff;
}

button.content_accordion.active:after {
    content: '\f056';
    color: #fff;
    vertical-align: middle;
}

.contents {
    text-align: justify;
    padding: 0 18px;
    width: 85%;
    max-height: 0;
    display: inline-block;
    overflow: hidden;
    transition: max-height .5s ease-out;
}

.button_holder {
    text-align: center;
}

.footer-section {
    background-color: #B2B09B !important;
    font-size: 100%;
    padding: 0rem 1rem 3rem 1rem;
    text-align: center;
    color: #fff;
    font-family: "OpenSans-Regular";
}

.footer_links {
    padding: 2rem;
    font-size: 17px;
    font-weight: bold;
    font-family: "Ubuntu";
}

.footer_links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    margin: 1rem 1rem 0rem 1rem;
    display: inline-block;
    position: relative;
    line-height: 2;
}

.footer_links a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: solid .2rem #78dd80;
    transition: .5s;
}

.footer_links a:hover:after {
    width: 100%;
}

.copyright {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    font-family: "Ubuntu";
}

.top_scroller {
    position: fixed;
    bottom: 10px;
    right: 13px;
    display: none;
}

.button_text {
    display: inline-block;
    max-width: 80%;
    float: left;
    vertical-align: middle;
}

.fixedbutton {
    position: fixed;
    bottom: 35%;
    left: 0px;
    z-index: 2;
    width: 36px;
}

.phone_holder {
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid #bdbdbd;
    padding: .2rem 1rem;
    vertical-align: middle;
    float: left;
    margin: .3rem 1rem;
    color: #0075a3;
    font-weight: bold;
    font-family: 'Ubuntu-l';
}

.social_links {
    padding: 3rem;
}

.social_links a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    margin: -1rem 1rem 1rem 1rem;
    ;
    display: inline-block;
    position: relative;
    line-height: 2;
}

.social_links a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: solid .2rem #78dd80;
    transition: .2s;
}

.social_links a:hover:after {
    width: 100%;
}

/*Small devices (landscape phones, 576px and up)*/

@media screen and (max-width: 480px) {
    select {
        float: none;
    }
    label {
        display: block;
    }
    hr {
        width: 80%;
    }
    .calculator {
        padding: 2rem 0;
        margin: 0;
    }
    .calc_order {
        display: block;
        margin: 2rem;
    }
    header {
        padding: 20px;
        position: relative;
    }
    h2 {
        padding: 0rem 1rem;
        font-size: 1.6rem;
    }
    .subholder {
        margin: 2rem 0rem;
    }
    h3 {
        font-size: 1em !important;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items. Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {
    ul.topnav li {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    ul.topnav.responsive {
        position: relative;
        float: right;
    }
    ul.topnav.responsive li.icon {
        padding: 0;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    ul.topnav.responsive li.dropdown_holder {
        display: none;
    }
    .iconic {
        min-width: 96%;
    }
    .prev,
    .next {
        font-size: 3rem;
    }
    .prev {
        position: absolute;
        left: 0;
    }
    .next {
        position: absolute;
        right: 0;
    }
    .contents_container {
        margin-left: 2rem;
    }
    .contents_container_heading {
        margin-bottom: 3rem;
    }
    .cards-wrapper .card {
        height: 400px;
        margin-bottom: 4rem;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    ul.topnav li {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}