.calcultor_post_wrapper {
    height: 500px;
    background: url(../img/stack-of-books.jpg) no-repeat 50% 3%;
    background-size: cover;
}

.price-calc-wrap,
.calcultor_post_wrapper {
    margin-top: 4rem;
}

.top-block__content {
    margin-top: 2rem;
    padding: 3rem;
    color: black;
}

.cw-discount-title {
    text-align: center;
}

.typewrite>.wrap,
.post-sub-heading,
.get-answer {
    color: #FFBA00;
}

.post-heading {
    font-weight: bold;
    font-size: 40px;
}

.post-sub-heading,
.post-heading {
    text-align: center;
}

.get-answer {
    font-weight: bold;
    font-size: 20px;
}
.get-answer>a:hover{
    text-decoration: none;
    color:#D6EFFF;
}

.post-body {
    padding: 2rem;
}

.post-body-content {
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: justify;
    margin-top: 2rem;
    line-height: 2rem;
}