.container-wizard {
    margin: auto;
    width: 10px;
    background-color: red;
}

.post-order-container {
    background-image: url(../img/coffee-laptop-blur.jpg);
    /* background-color: #FF6F59; */
    background-size: cover;
}

/*.image{
    margin-top: 40px;
    float: right;
    width: 30%;
    margin-right: 7%;
}*/

.payment-wizard li.active {
    position: relative;
    z-index: 1;
}

.wizard-content-details {
    display: none;
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 8px #d2d2d2;
    padding: 15px;
    box-sizing: border-box;
}

.wizard-content-instructions {
    display: none;
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 8px #d2d2d2;
    padding: 15px;
    box-sizing: border-box;
}

.wizard-content-calculator {
    display: none;
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 8px #d2d2d2;
    padding: 15px;
    box-sizing: border-box;
}

.amount-value {
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #FF6F59;
    width: 100px;
    border-radius: 2rem;
    display: inline;
}

.wizard-content-login {
    display: none;
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 8px #d2d2d2;
    padding: 15px;
    box-sizing: border-box;
}

.wizard-content-add {
    display: none;
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 8px #d2d2d2;
    padding: 15px;
    box-sizing: border-box;
}

li:first-child .wizard-content {
    display: block;
}

.wizard-content p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #4c4c4c;
}

.btn-green {
    color: #fff;
    float: right;
    border: 0;
    padding: 7px 10px;
    min-width: 92px;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5fba57;
    border-radius: 3px;
    border-bottom: 3px solid #289422;
    position: relative;
    transition: 0.3s;
}

.btn-green:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 3px;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #289422;
    transition: 0.3s;
}

.btn-green:hover:before {
    height: 100%;
}

.wizard-_eading span {
    float: right;
    /*background-image: url(wizard-icons.png);*/
    background-repeat: no-repeat;
}

.icon-user {
    width: 20px;
    height: 18px;
    background-position: 0 -40px;
    margin-top: 4px;
}

.icon-location {
    width: 15px;
    height: 20px;
    background-position: -22px -42px;
    margin-top: 4px;
}

.icon-summary {
    width: 20px;
    height: 20px;
    background-position: -39px -42px;
    margin-top: 4px;
}

.icon-mode {
    width: 20px;
    height: 16px;
    background-position: -61px -34px;
    margin-top: 6px;
}

/*.active .wizard-heading {
    background-color: #447294;
    color: #fff;
    margin-bottom: 0;
}*/

.active .icon-user {
    background-position: 0 0;
}

.active .icon-location {
    background-position: -22px 0;
}

.active .icon-summary {
    background-position: -39px 0;
}

.active .icon-mode {
    background-position: -61px 0;
}

.completed .wizard_heading {
    color: #447294;
    position: relative;
    padding: 10px 15px 10px 36px;
    cursor: pointer;
    transition: 0.3s;
}
.wizard_heading_instructions{
    margin-bottom: 2rem;
}

.wizard_content_instructions,
.wizard_content_calculator,
.wizard_content_login,
.wizard_content_details,
.wizard_content_additional_features {
    padding: 1rem;
    display: none;
}

.wizard_heading_details,
.wizard_heading_instructions,
.wizard_heading_calculator,
.wizard_heading_login,
.wizard_heading_additional_features {
    float: left;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 1px;
    box-sizing: border-box;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
    display: none;
    margin-top: 2rem;
}

.wizard_content_details select{
    margin: 0;
}
.wizard_content_details label{
   color: #707070
}

.active_heading {
    color: black;
    display: block;
}

.inactive_heading,
.clickable_heading {
    background-color: #F5f5f5;
    color: black;
    cursor: pointer;
    display: block;
}

/*instructions after*/

.wizard_heading_instructions:after,
.wizard_heading_calculations:after,
.wizard_heading_login:after {
    content: "";
    position: absolute;
    top: 35px;
    left: -7px;
    border-left: 7px solid transparent;
    border-top: 5px solid #001e34;
}

/*Instructions after*/

.completed .icon-user {
    background-position: 0 -20px;
}

.completed .icon-location {
    background-position: -22px -21px;
}

.completed .icon-summary {
    background-position: -39px -21px;
}

.completed .icon-mode {
    background-position: -61px -17px;
}

.next-details {
    float: right;
    cursor: pointer;
}

.next-instructions {
    float: right;
    cursor: pointer;
}

.next-calculator {
    float: right;
    cursor: pointer;
}

.next-add {
    float: right;
    cursor: pointer;
}

.next-login {
    float: right;
    cursor: pointer;
}

.order-icon {
    float: right;
    height: 25px;
    width: 25px;
}

/*= wizard end =*/

.cb-enable,
.cb-disable,
.cb-enable span,
.cb-disable span {
    background: url(images/switch.gif) repeat-x;
    display: block;
    float: left;
}

.cb-enable span,
.cb-disable span {
    line-height: 30px;
    display: block;
    background-repeat: no-repeat;
    font-weight: bold;
}

.cb-enable span {
    background-position: left -90px;
    padding: 0 10px;
}

.cb-disable span {
    background-position: right -180px;
    padding: 0 10px;
}

.cb-disable.selected {
    background-position: 0 -30px;
}

.cb-disable.selected span {
    background-position: right -210px;
    color: #fff;
    opacity: 0.3;
}

.cb-enable.selected {
    background-position: 0 -60px;
}

.cb-enable.selected span {
    background-position: left -150px;
    color: #fff;
    opacity: 0.3;
}

.switch label {
    cursor: pointer;
}

.switch input {
    display: none;
}

.fixedbutton {
    position: fixed;
    bottom: 35%;
    left: 0px;
    z-index: 2;
    width: 36px;
}

body,
html {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'Ubuntu-l';
    src: url('../fonts/Ubuntu-L.ttf')format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R.ttf')format('truetype');
}

h2 {
    font-size: 1.6rem;
    color: #2C3C69;
    font-family: "Ubuntu-l";
    margin: 20px;
    text-align: left;
}

h3 {
    font-size: 1.1rem;
    color: #2C3C69;
    font-family: "Ubuntu-l";
    padding: 0 1rem;
    text-align: left;
}

h4 {
    padding: 0;
    color: #2C3C69;
    font-family: 'Ubuntu';
    margin: 10px 24px;
}

p {
    font-family: 'Ubuntu-l';
    font-size: .9rem;
    margin: 24px;
}

img {
    vertical-align: middle;
}

.diff {
    color: #1895d8;
}

.main_wrapper {
    width: 88%;
    background: -webkit-linear-gradient(45deg, #3cdcea 0, rgba(102, 200, 136, 0.25) 100%);
    margin: auto;
    padding: 20px;
}

.page_wrapper {
    width: 88%;
    background-color: rgba(239, 241, 242, 1);
    margin: auto;
    padding: 20px;
    text-align: center;
}

.post_order_content {
    margin-top: 8rem;
}

.order_wrapper {
    display: inline-block;
    padding: .5rem;
}

.paper_info {
    list-style-type: none;
}

.cont_wrapper {
    width: 64%;
    background-color: rgba(239, 241, 242, 1);
    display: inline-block;
    position: relative;
    text-align: left;
}

.aside_container {
    width: 33%;
    padding-left: 2rem;
    display: inline-block;
}

.calculator {
    padding: 1.5rem;
    margin: 0;
    background: -webkit-linear-gradient(45deg, #853c8a 0, #3cdcea 100%);
    border-radius: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.display_cost {
    text-align: center;
    display: inline;
    padding: 1rem;
    font-family: 'Ubuntu';
    color: #fff;
}

#lblRes {
    display: inline;
    font-size: 2rem;
    color: #fffd5e;
    font-family: 'Ubuntu';
    position: absolute;
    margin-right: 2rem;
}

.dollar_sign {
    display: inline;
    font-size: 2rem;
    color: #fffd5e;
    font-family: 'Ubuntu';
    margin-left: .5rem;
}

.calc_order {
    display: block;
    padding: .5rem 3rem;
    background-color: #f05c42;
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'Ubuntu';
    color: #fff;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.calc_h3 {
    padding: 0;
    color: #fff;
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5rem;
}

label,
select {
    height: 2rem;
    margin-bottom: .5rem;
}

.heighted {
    height: 2rem;
    margin-bottom: .5rem;
    float: right;
    width: 80%;
    padding-left: .5rem;
}

.heighted_2 {
    height: 2rem;
    margin-top: .5rem;
    float: right;
    width: 80%;
    padding-left: .5rem;
}

select {
    float: right;
    width: 80%;
    padding-left: .2rem;
}

option {
    padding-left: 1rem;
}

optgroup {
    padding-left: .5rem;
}

tr {
    margin-bottom: 5rem;
}

option {
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
}

.link_lists li {
    display: inline-block;
    padding: .5rem;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    font-family: 'Ubuntu-L';
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    border-top: solid 3px #e5e5e5;
    margin-top: -3px;
}

.link_lists li:hover {
    padding-left: 2rem;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    cursor: pointer;
    border-top: solid 3px black;
}

.tab-cont {
    background-color: #f9f9f9;
    border-top: solid 3px #e5e5e5;
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    margin-top: 1rem;
}

.btn-post {
    color: #fff;
    /*float: right;*/
    border: 0;
    padding: 7px 10px;
    min-width: 92px;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5fba57;
    border-radius: 3px;
    border-bottom: 3px solid #289422;
    position: relative;
    transition: 0.3s;
    display: inline-block;
}

.btn-post:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 3px;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #289422;
    transition: 0.3s;
}

.btn-post:hover:before {
    height: 100%;
}

.tab_li.active {
    border-top: solid 3px #1895d8;
    border-bottom: solid 1px #f9f9f9;
    color: #0099da;
}

.tab_li.active:hover {
    border-top: solid 3px #1895d8;
    padding: .5rem;
    border-bottom: solid 1px #f9f9f9;
}

.tab_li.returning_customer.active {
    border-right: solid 1px #f9f9f9;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

fieldset {
    border: 1px solid transparent;
    margin: 0;
    font-family: 'Ubuntu';
    color: #fff;
}

hr {
    border: none;
    border-top: 1px dotted #fff;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 80%;
}

@media screen and (max-width: 480px) {
    select {
        float: none;
    }
    label {
        display: block;
    }
    .calculator {
        padding: 2rem 0;
        margin: 0;
    }
    .calc_order {
        display: block;
        margin: 2rem;
    }
    header {
        padding: 20px;
        position: relative;
    }
}

.aside {
    display: inline-block;
    background-color: #fff;
    text-align: left;
}

@media screen and (max-width: 680px) {
    .main_wrapper {
        width: 90%;
        margin: auto;
    }
    .page_wrapper {
        width: 90%;
        margin: auto;
    }
    .order_wrapper {
        width: 100%;
        margin: auto;
    }
    .cont_wrapper {
        width: 100%;
        margin: auto;
    }
    .aside_container {
        width: 100%;
        margin: auto;
    }
}

.content_one {
    text-align: center;
    margin: 5vw;
}

.icons {
    vertical-align: bottom;
}

.icons img {
    padding: 1rem;
}

.fixedbutton {
    position: fixed;
    bottom: 35%;
    left: 0px;
    z-index: 2;
    width: 36px;
}

.question_holder {
    background-color: #fff;
    padding: .8rem 2rem;
    font-family: 'Ubuntu-L';
    font-size: 1.3rem;
    cursor: pointer;
}

.question_holder:after {
    font-family: 'FontAwesome';
    content: '\f067';
    font-size: 1.6rem;
    float: right;
    display: inline;
    margin: 0;
    color: #1895d8;
    vertical-align: middle;
}

.contents {
    text-align: justify;
    padding: 0 18px;
    max-height: 0;
    display: inline-block;
    overflow: hidden;
    transition: max-height .5s ease-out;
    margin: 0 auto;
    background-color: #fff;
}

.question_holder.active {
    background-color: #1895d8;
    color: #fff;
    padding: .8rem 2rem;
}

.question_holder.active:after {
    content: '\f068';
    color: #fff;
    vertical-align: middle;
}

.content_holder {
    background-color: #fff;
    padding: 1rem 0;
    border: 2px solid #78dd80;
}

.content_holder p {
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
    margin-top: 0;
    text-align: justify;
}

.order {
    padding: .4em 3em;
    border-radius: .2em;
    background-color: #f05c42;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
}

.order_holder {
    background-color: rgba(239, 241, 242, 1);
    border-bottom: 1px solid #ffc;
    border-top: 1px solid #ffc;
    margin: 0 2rem 2rem 2rem;
    padding: 0 1rem 2rem 1rem;
    text-align: center;
}

/*Tooltip*/

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    font-size: 13px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bold {
    font-weight: bold;
}